<div class="contact-body center">
  <div class="contact-info container">
    <h3 class="center-horizontal">{{ languageService.literals.contact.contact }}</h3>

    <app-divider> </app-divider>

    <div class="contact-details">
      <div class="contact-inputs">
        <form [formGroup]="mailForm">
          <div class="input mb1">
            <label for="name">{{ languageService.literals.contact.name }}</label>
            <input
              formControlName="name"
              id="name"
              name="name"
              type="text"
            >
          </div>

          <div class="input mb1">
            <label for="email">{{ languageService.literals.contact.email }}</label>
            <input
              formControlName="email"
              id="email"
              name="email"
              type="email"
            >
          </div>

          <div class="input mb1">
            <label for="company">{{ languageService.literals.contact.company }}</label>
            <input
              formControlName="company"
              id="company"
              name="company"
              type="text"
            >
          </div>

          <div class="input mb1">
            <label for="description">{{ languageService.literals.contact.description }}</label>
            <textarea
              formControlName="description"
              id="description"
              name="description"
              rows="4"
              type="text"
            > </textarea>
          </div>

          <div class="button center" (click)="sendMail()">
            <h4>{{ languageService.literals.contact.send }}</h4>
          </div>
        </form>
      </div>

      <div class="contact-image">
        <img src="assets/images/mail.svg">
      </div>
    </div>
  </div>
</div>
