.profile-container {
  width: 300px;

  .image-container {
    width: 210px;
    height: 210px;
    border-radius: 50%;

    img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      animation: pulse-border 2s infinite;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    img:hover {
      width: 210px;
      height: 210px;
      transition: all 0.3s ease-in-out;
      animation: none;
    }
  }

  a {
    text-decoration: none;
    color: var(--secondary-color);
  }

  .profile-buttons {

    .profile-button {
      width: 9rem;
      height: 2.5rem;
      background-color: var(--primary-color);
      border-radius: 0.2rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    .profile-button:hover {
      filter: brightness(0.8);
      transition: all 0.3s ease-in-out;
    }
  }
}
