.step {
  width: 100%;
  min-height: 200px;

  display: flex;
  align-items: center;
  position: relative;

  .step-left {
    width: 200px;

    .step-line {
      
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;

      margin: 99px 0 0 99px;
      z-index: 1;
    }

    .step-line-active {
      height: 200px;
      background: linear-gradient(to bottom, var(--primary-color-dark), var(--primary-color-light));
    }
    
    .step-line-inactive {
      height: 100px;
      background: linear-gradient(to bottom, var(--primary-color-light), white);
    }

    .step-circle-active {
      background-color: var(--primary-color-dark);
      animation: pulse-border 2s infinite;
    }
    
    .step-circle-inactive {
      background-color: var(--primary-color-light);
    }

    .step-circle {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      z-index: 2;
    }
  }
  
  .step-right {
    width: calc(100% - 280px);

    .step-right-header {
      display: flex;
      justify-content: space-between;

      .title {
        max-width: 60%;
      }

      .date {
        text-align: right;
        max-width: 40%;
      }
    }
  }
}

@media (max-width: 480px) {
  .step {
    height: auto;
    padding: 16px;
  }
}

@media (max-width: 1140px) {
  .paper {
    width: 90%;
  }
  
  .step-left {
    display: none;
  }

  .step {
    margin-bottom: 16px;

    .step-right {
      width: 100%;

      .step-right-header {
        display: flex;
        flex-direction: column;
  
        .title {
          max-width: 100%;
        }
  
        .date {
          margin: 8px 0;
          text-align: left;
          max-width: 100%;
        }
      }
    }
  }
}