<h2 class="mb1 center">{{ languageService.literals.experience }}</h2>

<app-divider></app-divider>

<div class="paper">
  <div *ngFor="let workExperience of revert(languageService.literals.main.workExperiences); let index = index" class="step">
    <div class="step-left center">
      <div class="step-circle" [ngClass]="index === 0 ? 'step-circle-active' : 'step-circle-inactive'"></div>

      <div class="step-line" [ngClass]="index === 0 ? 'step-line-active' : 'step-line-inactive'"> </div>
    </div>

    <div class="step-right">
      <div class="step-right-header fc-md">
        <h2 class="title">{{ workExperience.title }}</h2>
        <div class="date">{{ workExperience.date }}</div>
      </div>

      <h3 class="bold">{{ workExperience.company }}</h3>

      <ul class="ml2 mt1">
        <li *ngFor="let responsability of workExperience.responsabilities">{{ responsability }}</li>
      </ul>
    </div>
  </div>
</div>
