.step {
  width: 100%;
  min-height: 200px;

  display: flex;
  align-items: center;
  position: relative;

  .step-left {
    width: 200px;

    .step-line {
      
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;

      margin: 99px 0 0 99px;
      z-index: 1;
    }

    .step-line-active {
      height: 200px;
      background: linear-gradient(to bottom, var(--primary-color-dark), var(--primary-color-light));
    }
    
    .step-line-inactive {
      height: 100px;
      background: linear-gradient(to bottom, var(--primary-color-light), white);
    }

    .step-circle-active {
      background-color: var(--primary-color-dark);
      animation: pulse-border 2s infinite;
    }
    
    .step-circle-inactive {
      background-color: var(--primary-color-light);
    }

    .step-circle {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      z-index: 2;
    }
  }
  
  .step-right {
    width: calc(100% - 280px);

    .step-right-header {
      display: flex;
      justify-content: space-between;

      div {
        text-align: right;
      }
    }
  }
}

@media (max-width: 480px) {
  .step {
    height: auto;
    padding: 16px;

    .step-left {
      display: none;
    }

    .step-right {
      width: 100%;
    }
  }
}