.paper {
  display: flex;
  margin: 0 auto;

  .item-title {
    width: 180px;
  }

  .size {
    width: calc(50% - 2rem);
  }
}

@media (max-width: 780px) {
  .paper {
    flex-direction: column;
    width: 100%;

    .size {
      width: 100%;
    }

    .mr2 {
      margin-right: 0;
    }
  }
}