<h3 class="mb1 center">{{ languageService.literals.education }}</h3>

<app-divider></app-divider>

<div class="center-horizontal column">
  <div *ngFor="let education of languageService.literals.main.educations; let index = index" class="container" [class.mt1]="index > 0">
    <div class="education-left center column">
      <h3 class="mb1">{{ education.level }}</h3>
      <h4>{{ education.date }}</h4>
    </div>

    <div class="education-right">

      <h3 class="mb1">{{ education.title }}</h3>
      <h4 class="bold mb1 uppercase">{{ education.school }}</h4>
      <ul>
        <li *ngFor="let detail of education.details">{{ detail }}</li>
      </ul>
    </div>
  </div>
</div>
