<h2 class="mb1 center">{{ languageService.literals.education }}</h2>

<app-divider></app-divider>

<div class="center-horizontal column">
  <div *ngFor="let education of revert(languageService.literals.main.educations); let index = index" class="paper" [class.mt1]="index > 0">
    <div class="education-left center column">
      <h2 class="mb1">{{ education.level }}</h2>
      <h3>{{ education.date }}</h3>
    </div>

    <div class="education-right">

      <h2 class="mb1">{{ education.title }}</h2>
      <h3 class="bold mb1 uppercase">{{ education.school }}</h3>
      <ul>
        <li *ngFor="let detail of education.details">{{ detail }}</li>
      </ul>
    </div>
  </div>
</div>
