.toolbar-container {
  position: relative;
  height: 50px;
  padding: 16px;

  .toolbar-items {
    height: 100%;
    width: 100%;
    max-width: 1140px;
    color: white;

    .toolbar-logo {
      width: 250px;
    }
  }
}
