nav {
  padding: 1.5rem 1rem;
  background-color: var(--primary-color);

  h3 {
    color: white;
  }

  span {
    color: white;
  }

  .language {
    width: 90px;
    color: white;
  }

  .show {
    .language {
      width: 100%;
    }
  }

  .nav-item {
    margin: 0 1rem;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }
}

@media (min-width: 992px) {
  .md {
    .md-main-width {
      width: 180px;
    }

    .md-nav-width {
      width: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
