<div class="toolbar-container center" [ngClass]="scrollY !== 0 ? 'background-active' : 'background-inactive'">
  <div class="toolbar-items space-between mb1">
    <h4 class="toolbar-logo uppercase">Handrei's Portfolio</h4>
    <div class="center">
      <h5 class="uppercase ml1 mr1 button" (click)="navigateTo('about')">Sobre</h5>
      <h5 class="uppercase ml1 mr1 button" (click)="navigateTo('workExperience')">Experiência</h5>
      <h5 class="uppercase ml1 mr1 button" (click)="navigateTo('projects')">Projetos</h5>
    </div>
    <h4>Idioma</h4>
  </div>
</div>
