nav {
  padding: 1rem;
  background-color: var(--primary-color);

  h4 {
    color: white
  }

  span {
    color: white
  }

  .language {
    width: 90px;
    color: white
  }

  .show {
    .language {
      width: 100%;
    }
  }

  .nav-item {
    margin: 0 1rem;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }
}