<div class="home">
  <div class="home-image-container">
    <img src="assets/images/home-background.jpg" class="home-image">
  </div>

  <app-toolbar> </app-toolbar>
  
  <div class="home-body">
    <app-profile> </app-profile>

    <div class="content">    
      <app-about class="mb3 fw"> </app-about>

      <app-education class="mb3 fw"> </app-education>

      <app-experience class="mb3 fw"> </app-experience>

      <app-projects class="mb3 fw"> </app-projects>

      <app-references class="mb3 fw"> </app-references>
    </div>

    <app-contact> </app-contact>
  </div>
</div>