<div class="home">
  <div class="home-image-container">
    <img src="assets/images/home-background.jpg">
  </div>

  <app-toolbar> </app-toolbar>
  
  <div class="home-body">
    <app-profile> </app-profile>

    <div class="content">    
      <app-about class="pt4 fw" id="about"> </app-about>

      <app-education class="pt4 fw"> </app-education>

      <app-experience class="pt4 fw" id="experience"> </app-experience>

      <app-projects class="pt4 fw" id="projects"> </app-projects>

      <app-references class="pt4 fw"> </app-references>
    </div>

    <app-contact id="contact"> </app-contact>
  </div>

  <app-loading
    *ngIf="mailService.isLoading"
  > </app-loading>

  <app-alert> </app-alert>
</div>