<h3 class="mb1 center">{{ languageService.literals.projects.projects }}</h3>

<app-divider></app-divider>

<div class="card-container">
  <div *ngFor="let project of languageService.literals.main.projects" class="paper card-item m0" (click)="navigateTo(project.url)">
    <div class="image" [style]="'background-image: url(' + project.imageUrl +');'">
      <span class="bi bi-github" (click)="navigateTo(project.github)" *ngIf="project.github"></span>
    </div>

    <h4 class="bold mt1">{{ project.title }}</h4>

    
    <div class="technologies">
      <app-divider></app-divider>

      <h4 class="bold">{{ languageService.literals.projects.technologies }}</h4>

      <ul>
        <li class="ml2" *ngFor="let technology of project.technologies">{{ technology }}</li>
      </ul>
    </div>
  </div>
</div>
