.card-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card-item {
  width: 300px;
  height: 450px;
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: 0.3s;

  .image {
    width: 250px;
    height: 100px;
    position: relative;
    background-size: cover;
  
    span {
      width: 30px;
      height: 30px;
      margin-bottom: -7px;
      margin-right: -7px;
      border-radius: 50%;
      background-color: var(--primary-color);
      color: white;
  
      position: absolute;
      right: 0;
      bottom: 0;
  
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span:hover {
      filter: brightness(0.8);
    }
  }


  .technologies {
    width: 100%;
  }
}

.card-item:hover {
  scale: 1.05;
}

@media (max-width: 1140px) {
  .card-container {
    flex-direction: column;
  }

  .card-item {
    height: auto;
    width: 90%;
    flex-direction: row;

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .divider {
      display: none;
    }

    .technologies {
      margin-left: 16px;
    }
  }
}

@media (max-width: 600px) {
  .card-container {
    flex-direction: column;
  }

  .card-item {
    height: auto;
    width: 90%;
    flex-direction: column;

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .divider {
      display: block;
    }

    .technologies {
      margin-left: 0;
    }
  }
}