<h3 class="mb1 center">{{ languageService.literals.references }}</h3>

<app-divider></app-divider>

<div class="container center">
  <div class="previous center" (click)="previousReference()">
    <span class="bi bi-chevron-compact-left icon"></span>
  </div>

  <div class="reference">
    <a [href]="references[referenceIndex].url" target="_blank"><img [src]="references[referenceIndex].avatar" alt="reference" class="shadow"></a>

    <div class="ml1 center column">
      <h5>{{ references[referenceIndex].description }}</h5>

      <div class="reference-author mt1">
        <h4 class="bold">{{ references[referenceIndex].person }}</h4>
        <h4>{{ references[referenceIndex].field }}</h4>
      </div>

      <div class="references-list center">
        <div *ngFor="let ref of references; let indexref = index" [ngClass]="indexref === referenceIndex ? 'bi bi-circle-fill' : 'bi bi-circle'"></div>
      </div>
    </div>
  </div>

  <div class="next center" (click)="nextReference()">
    <span class="bi bi-chevron-compact-right icon"></span>
  </div>
</div>
